[Service]
    Type=simple
    User=$KIOSK_USER
    Group=$KIOSK_USER
    PAMName=login
    Environment=XDG_RUNTIME_DIR=/run/user/%U
    ExecStart=/usr/bin/xinit /usr/bin/openbox-session -- :0 vt7 -nolisten tcp -nocursor -auth /var/run/kiosk.auth
    Restart=always
    RestartSec=5
    StandardInput=tty
    TTYPath=/dev/tty7
    TTYReset=yes
    TTYVHangup=yes
    TTYVTDisallocate=yes

[Install]
    WantedBy=multi-user.target